@charset "utf-8";
/* CSS Document */
body{
	margin: 0 auto;
	padding: 0; 
	list-style: none; 
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
	color: #666; 
	line-height: 158%;
	position: relative;
	background-color: #f8f8ff;
	overflow: hidden;
	}
div,span,p,ul,ul li,dl,dt,dd,a,h1,h2,h3,h4,h5,h6,img{ margin:0; padding:0; list-style:none; line-height:158%; border:0;}
a{ color:#666; text-decoration:none; }
a:focus{outline:none;}
a:hover, a:focus{ color: #54a832; text-decoration: none;}
dl dd{line-height: inherit;}

.font-gray { color: #999;}
.font-red { color: #df3f28;}
.font-blue { color: #55acef;}
.font-orange { color: #ffa100;}
.font-green { color: #01b756;}


/*form*/
button, input, select, textarea { outline:none;}
input[type="checkbox"], input[type="radio"] {border: 0;}
input,textarea {
	border: 1px solid #e9e9e9;
	-webkit-transition: all .3s ease 0s;
	   -moz-transition: all .3s ease 0s;
	     -o-transition: all .3s ease 0s;
			transition: all .3s ease 0s;
	outline:none;
	resize: none;
}
input:focus,
textarea:focus {border: 1px solid #5c6aac;}

.btn { 
	height: 30px;
	padding: 0 10px;
	line-height: 28px;
	-webkit-transition: all 0.3s ease 0s;
	   -moz-transition: all 0.3s ease 0s; 
    	 -o-transition: all 0.3s ease 0s; 
			transition: all 0.3s ease 0s; 
}
.btn-default {
	 border: 1px solid #e9e9e9;
}
.btn-default:hover{
	background-color: #5c6aac;
	color: #fff;
	border: 1px solid #5c6aac;
}
.btn-default:focus {
	border: 1px solid #e9e9e9;
}
.btn-primary {
	background-color: #455084;
    border-color: #455084;
}
.container { width: 100%;}
.form-group {
	position: relative;
	margin: 0;
	}
.form-control {
	height: 30px;
	box-shadow: none;
	border-radius: 0;
	border-color: #e9e9e9;
}
.form-control.error {
	border: 1px solid #df3f28;
}
.form-control:focus {
	border-color: #5c6aac;
}
.form-group span.error,
.form-group label.error {
	position: absolute;
	right: 3px;
	top: 3px;
	background-color: #ff575a;
	border-radius: 3px;
	height: 24px;
	line-height: 24px;
	padding: 0 5px;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	z-index: 100;
}
.form-control.error:focus{
	border-color:#ff575a;
	outline:0;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,87,91,.6);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,87,91,.6);
	}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
	font-size: 12px;
	color: #999;
    background-color: #f6f6f6;
}
textarea.form-control.h100 {
	height: 100px;
}
textarea.form-control.h250 {
	height: 250px;
}
select.form-control {
	height: 30px;
	padding: 3px 5px 4px;
	padding: 4px 5px\9;
	line-height: initial;
}
@-moz-document url-prefix(){select.form-control{padding: 3px 5px 4px;}}
.formBox {padding-right: 10%;}
.formBox .row {
	margin-bottom: 15px;
}
.form-tit { line-height: 30px;}
.formBox .radio-inline,
.formBox .checkbox-inline { 
	margin-right: 15px;
    margin-top: 5px;
}

button[disabled], 
html input[disabled],
.form-control[disabled], 
fieldset[disabled] .form-control {
    cursor: inherit;
}
.Wdate {
    background-image: url(img/datePicker.png)!important;
    background-repeat: no-repeat;
}
.input-group-btn:last-child > .btn, 
.input-group-btn:last-child > .btn-group {
	margin-left: 10px;
	border-radius: 4px;
}
.input-group .form-control { font-size: 12px;}
/*form end*/
/*Frame*/
.wrapper {
    width: 100%;
}
.row-sm-margin {
	margin-left: -10px;
    margin-right: -10px;
}
.col-xs-fifth {
	position: relative;
	float: left;
	width: 20%;
}
.row-sm-margin .col-xs-1,
.row-sm-margin .col-xs-2,
.row-sm-margin .col-xs-3,
.row-sm-margin .col-xs-4,
.row-sm-margin .col-xs-5,
.row-sm-margin .col-xs-6,
.row-sm-margin .col-xs-7,
.row-sm-margin .col-xs-8,
.row-sm-margin .col-xs-9,
.row-sm-margin .col-xs-10,
.row-sm-margin .col-xs-11,
.row-sm-margin .col-xs-12,
.row-sm-margin .col-xs-fifth {
	padding-left: 10px;
    padding-right: 10px;
}
/* left wrapper */
.navbar-static-side {
	position: fixed;
	width: 235px;
	height: 100%;
	background-color: #3d4e66;
	z-index: 200;
	transition: width 0.3s ease 0s;
}
body.mini-navbar .navbar-static-side {
	width: 65px;
}
.logo {
	position: relative;
	z-index: 10;
	height: 65px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat;
	background-color: #293c55;
	border-bottom: 1px solid #657285;
}
body.mini-navbar .logo {
	background-image: url(img/mini-logo.png);
}

.side-menu .nav > li {
	border-left: 2px solid #3d4e66;
}
.side-menu .nav > li:hover {
	border-color: #516076;
	background-color: #516076;
}
.side-menu .nav > li.active,
.side-menu .nav > li.active:hover {
	border-color: #a2963b;
	background-color: #516076;
}
.side-menu .nav > li > a {
	padding-left: 25px;
	overflow: hidden;
}
.side-menu .nav > li > a:hover,
.side-menu .nav > li > a:focus {
	background-color: transparent;
}
.side-menu .nav > li > a,
.side-menu .nav > li > a > i,
.side-menu .nav > li > a > span {
    line-height: 40px;
    color: #fff;
}
.side-menu .nav > li > a > i,
.side-menu .nav > li > a > span {
	display: inline-block;
}
.side-menu .nav > li > a > i,
.side-menu .nav > li > a > span.nav-label {
    float: left;
}
.side-menu .nav > li > a > i.iconfont {
	width: 22px;
	font-size: 20px;
	text-align: center;
}
.side-menu .nav > li > a > span.nav-label {
	font-size: 18px;
	line-height: 38px;
	padding-left: 15px;
}
.side-menu .nav > li > a > span.arrow {
	float: right;
	color: #fff;
	font-size: 15px;
}
.side-menu .nav > li > a > span.arrow:before {
	content: "\e606";
}
.side-menu .nav > li > a.collapsed > span.arrow:before {
	content: "\e723";
}
body.mini-navbar .side-menu  .nav > li > a {
	line-height: 50px;
	padding-left: 15px;
}
body.mini-navbar .side-menu  .nav > li > a > i.iconfont {
	width: 31px;
	line-height: 50px;
	font-size: 30px;
}
body.mini-navbar .side-menu  .nav > li > a > span {
	display: none;
}
.side-menu .nav-second {
	padding-bottom: 15px;
}
.side-menu .nav-second > h1 {
	display: none;
}
.side-menu .nav-second > li {
	border-left: 0;
}
.side-menu .nav-second > li > a {
	padding: 0 0 0 62px;
	font-size: 16px;
}
.side-menu .nav-second > li > a:hover {
	color: #ffde00;
}
.side-menu  .active .nav-second > li.active > a {
	color: #ffde00;
	font-weight: bold;
}
body.mini-navbar .side-menu .nav-second {
	padding-top: 10px;
}
body.mini-navbar .side-menu .nav-second > h1 {
	display: block;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	line-height: 55px;
}
body.mini-navbar .side-menu .nav-second > li > a {
	line-height: 40px;
	color: #fff;
	padding-left: 20px;
}
body.mini-navbar .side-menu .nav-second > li:hover,
body.mini-navbar .side-menu .nav-second > li.active {
	background-color: transparent;
}
body.mini-navbar .side-menu .nav-second > li:hover > a,
body.mini-navbar .side-menu .active .nav-second > li.active > a {
	color: #ffde00;
}
body.mini-navbar .side-menu .nav-second.collapse,
body.mini-navbar .side-menu .nav-second.collapsing {
    position: absolute;
    top: 0;
    left: 63px;
    width: 120px;
    height: auto!important;
    background-color: #516076;
    color: #fff;
}
body.mini-navbar .side-menu .collapse.in {
    display: none;
}
body.mini-navbar .side-menu .nav > li:hover .nav-second.collapse {
    display: block;
}
/*Right Content*/
.content-wrapper {
	overflow: hidden;
	margin-left: 235px;
    position: inherit;
    transition: margin-left 0.3s ease 0s;
}
body.mini-navbar .content-wrapper {
	margin-left: 65px;
}
/*.navbar-static-top*/
.navbar-static-top {
	margin-bottom: 0;
	padding: 15px 0;
	height: 65px;
	border-bottom: 1px solid #E9E9E9;
}
.navbar-static-top .navbar-header .btn-primary {
	width: 26px;
	height: 24px;
	padding: 0;
	margin-top: 5px;
	margin-left: 15px;
	line-height: 22px;
	background-color: #3d4e66;
}
.navbar-static-top .navbar-header .btn-primary:hover {
	opacity: .8;
}
.navbar-static-top .navbar-right {
	margin-right: 0;
}
.navbar-top-links > li {
	position: relative;
	float: left;
}
.navbar-top-links > li + li {
	margin-right: 20px;
}
.navbar-top-links > li > span,
.navbar-top-links > li > a {
	display: inline-block;
	padding: 0;
	line-height: 32px;
	font-size: 18px;
}
.navbar-top-links > li > span {
	color: #9398a4;
	margin-right: 5px;
	margin-left: 15px;
}
.navbar-top-links > li > .username {
	color: #54a832;
}
.navbar-top-links > li > .iconfont {
	font-size: 24px;
	line-height: 34px;
	color: #627085;
}
.navbar-top-links > li > i.iconfont {
	
}
.navbar-top-links > li > a:focus, 
.navbar-top-links > li:hover > a {
	color: #a2963b;
	background-color: transparent;
}
.navbar-top-links > li > .dropdown-menu {
	width: 100px;
	left: 50%;
	top: 40px;
	right: auto;
	margin-left: -50px;
	min-width: 100px;
	text-align: center;
	border-color: #e9e9e9;
}
.navbar-top-links > li:hover > .dropdown-menu {
	display: block;
}
.navbar-top-links > li > .dropdown-menu:before,
.navbar-top-links > li > .dropdown-menu:after {
    content: "◆";
    font-family: simsun;
    font-size: 16px;
    height: 16px;
    left: 50%;
    line-height: 16px;
    margin-left: -8px;
    position: absolute;
    z-index: 1;
}
.navbar-top-links > li > .dropdown-menu:before {
	 top: -8px;
	 color: #e9e9e9;
}
.navbar-top-links > li > .dropdown-menu:after {
	 top: -7px;
	 color: #fff;
}
.navbar-top-links > li > .dropdown-menu li {
	position: relative;
	z-index: 2;
}
.navbar-top-links > li > .dropdown-menu a {
	display: block;
	line-height: 30px;
	color: #627085;
}
.navbar-top-links > li > .dropdown-menu a:hover {
	background-color: #eeeff2;
	color: #627085;
}
/*breadcrumb*/
.content-wrapper .breadcrumb {
	height: 36px;
	margin-bottom: 0;
	border-bottom: 1px solid #E9E9E9;
	background-color: transparent;
	border-radius: 0;
}
.content-wrapper .breadcrumb > li,
.content-wrapper .breadcrumb > li > a {
	line-height: 19px;
	color: #999;
}
.content-wrapper .breadcrumb > li > .iconfont {
	color: #c8c8c8;
}
.content-wrapper .breadcrumb > li > a:hover {
	color: #475285;
}
.content-wrapper .breadcrumb > li.active{
	color: #455084;
	font-weight: bold;
}
.content-wrapper .breadcrumb > li + li::before {
	font-family:"iconfont" !important;
	content: "\e725";
	padding: 0 3px;
	font-weight: normal;
}
/*main-content*/
.main-content {
	overflow-y: auto;
}
.content {
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
}
.main-content .section {
	position: relative;
	background-color: #fff;
}
.main-content .section .title {
	height: 46px;
	padding: 0 20px;
	border-bottom: 1px solid #9ba0aa;
	overflow: hidden;
}
.main-content .section .title h1 {
	position: relative;
	float: left;
	font-size: 18px;
	line-height: 45px;
}
.main-content .section .title .iconfont {
	font-size: 18px;
	line-height: 45px;
}
.main-content .section .moreBtn {
	line-height: 45px;
}
.main-content .section .sectionMain {
	padding: 15px 20px;
}
/*list*/
.lists > li + li {
	margin-top: 20px;
}
.lists > li > a {
	height: 30px;
	line-height: 30px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 16px;
}
.lists > li > a:before {
	content: "●";
	float: left;
	padding-right: 15px;
	color: #999;
}
.lists > li > a:hover:before {
	color: #54a832;
}
.lists > li > a > h1 {
	position: relative;
	height: 30px;
	max-width: 100%;
	line-height: 30px;
	padding-right: 70px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}
.lists > li .clock {
	position: absolute;
	right: 0;
	top: 50%;
	width: 62px;
	text-align: center;
	margin-top: -9px;
	display: block;
	padding: 0 3px;
	font-size: 12px;
	line-height: 16px;
	color: #edcd0a;
	border: 1px solid #edcd0a;
	border-radius: 3px;
}
.lists > li .clock .iconfont {
	font-size: 13px;
	line-height: 16px;
}
.lists > li > span.date {
	float: right;
	margin-left: 15px;
	line-height: 30px;
}
.handleList > li > a:before {
	display: none;
}
.handleList > li > a > h1:before {
	content: "●";
	float: left;
	padding-right: 15px;
	color: #999;
}
.handleList > li > a > h1:hover:before {
	color: #54a832;
}
/*footer*/
.footer {
    height: 36px;
    overflow: hidden;
    padding: 5px 20px;
    color: #999;
    line-height: 25px;
    background-color: #fff;
    border-top: 1px solid #E9E9E9;
}
